alembic==1.10.3
Flask~=2.2.3
Flask==2.2.3
Flask_Migrate==4.0.4
flask_sqlalchemy==3.0.3
jieba==0.42.1
lxml==4.3.2
matplotlib==3.0.3
paddlepaddle_gpu==2.4.2
pandas==0.24.2
pyecharts==2.0.3
PyMySQL~=1.0.3
PyMySQL==1.0.3
Requests~=2.21.0
SQLAlchemy~=2.0.9
SQLAlchemy==2.0.9
Werkzeug~=2.2.3
Werkzeug==1.0.1
Werkzeug==2.2.3
WTForms==3.0.1

paddlehub~=1.6.2
wordcloud~=1.8.1