<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>注册 - 高校贴吧舆情分析系统</title>
    <link href="../static/dist/css/styles.css" rel="stylesheet"/>
    <link rel="icon" href="../static/img/icon.svg" type="image/x-icon">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">注册账号</h3></div>
                            <div class="card-body">
                                <form method="post">
                                    <div class="form-floating mb-3">
                                        <input class="form-control" name="user_name" id="inputUserName" type="text"
                                               placeholder="请输入用户名"/>
                                        <label for="inputUserName">用户名</label>
                                        {% for tip in form.user_name.errors %}
                                            <span style="color:red">{{ tip }}</span>
                                        {% endfor %}
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" name="phone_number" id="inputTelephone" type="text"
                                               placeholder="请输入手机号码"/>
                                        <label for="inputTelephone">手机号码</label>
                                        {% for tip in form.phone_number.errors %}
                                            <span style="color:red">{{ tip }}</span>
                                        {% endfor %}
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input class="form-control" name="password" id="inputPassword"
                                                       type="password"
                                                       placeholder="Create a password"/>
                                                <label for="inputPassword">密码</label>
                                                {% for tip in form.password.errors %}
                                                    <span style="color:red">{{ tip }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input class="form-control" name="password_confirm" id="inputPasswordConfirm" type="password"
                                                       placeholder="Confirm password"/>
                                                <label for="inputPasswordConfirm">确认密码</label>
                                                {% for tip in form.password_confirm.errors %}
                                                    <span style="color:red">{{ tip }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-4 mb-0">
                                        <div class="d-grid">
                                            <button class="btn btn-primary btn-block">注册</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center py-3">
                                <div class="small"><a href="{{ url_for('auth.login') }}">已有账号？去登录</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; SupineCat</div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="../static/dist/js/scripts.js"></script>
</body>
</html>
